
	</div><!-- END: Page Content -->



	<!-- Footer -->
	{% include 'parts/footer.liquid' %}



</div><!-- END: Page Wrapper -->

<!-- ⬇ All Modals below this point ⬇ -->

<div id="modal-wrapper" style="display: none;"><!-- Modal Wrapper -->
	<div class="modal-box js_modal_box">
		<!-- Modal Content : Sample Video -->
		<div class="modal-box-content js_modal_box_content" data-mod-id="sample-video">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- video embed -->
						<div class="video-embed js_video_embed" data-src="lncVHzsc_QA">
							<div class="video-loading-indicator"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- END : Sample Video -->

		<!-- Modal Content : Sample Form -->
		<div class="hidden modal-box-content js_modal_box_content" data-mod-id="sample-form">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<h2>Form Title Goes Here</h2>
					</div>
				</div>
				<div class="row">
					<!-- video embed -->
					<div class="columns small-12">
						<div class="video-embed js_video_embed" data-src="lncVHzsc_QA">
							<div class="video-loading-indicator"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12">
						<!-- <p>Sample text</p> -->
					</div>
				</div>
			</div>
		</div><!-- END : Sample Form -->


		<!-- Modal Close Button -->
		<div class="modal-close js_modal_close">&times;</div>
	</div>

</div><!-- END : Modal Wrapper -->

<!--  ☠  MARKUP ENDS HERE  ☠  -->

<script type="text/javascript" src="/js/video_embed.js"></script>



<script type="text/javascript">
	
	document.addEventListener("DOMContentLoaded", function() {

		/* -- JavaScript Goes Here -- */

	});
	
</script>

</body>

</html>




