<!-- Footer Menu Section -->
<section id="footer-menu-section" class="footer-menu-section fill-white">
	<div class="container">
		<div class="row space-200-top-bottom">
			<div class="columns small-12 large-7 space-25 space-150-bottom">
				<div class="logo space-100-bottom" style="width: 75%;">
					<img src="media/logo-color.svg" alt="" style="transform: scale(1.06);">
				</div>	
				<div class="h4 strong text-violet font-h">Architecture that Inspires and Endures</div>
				<div class="p">Rooted in Human-Centric Design, our unique approach combines functionality with timeless beauty!</div>
			</div>
			<div class="columns small-12 medium-6 large-4 large-offset-1 space-25 space-100-bottom">
				<div class="h5 text-neutral-4 block space-50-bottom">Quick Links</div>
				<a class="text-violet p inline space-25-bottom" href="/"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">link</span> Greyscale Stories</a><br>
				<a class="text-violet p inline space-25-bottom" href="/about"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">link</span> About Us</a><br>
				<a class="text-violet p inline space-25-bottom" href="/for-homeowner"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">link</span> For Homeowner</a><br>
				<a class="text-violet p inline space-25-bottom" href="/for-business"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">link</span> For Business</a><br>
				<a class="text-violet p inline space-25-bottom" href="/for-student"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">link</span> For Student</a><br>
			</div>
			<div class="columns small-12 medium-6 large-4 space-25 space-100-bottom">
				<div class="h5 text-neutral-4 block space-50-bottom">Address</div>
				<div class="block p space-50-bottom">No.9, 39th Cross, 4th 'T' Block,<br>Jayanagar, Bengaluru - 560041.</div>
				<a class="text-violet p inline" href="https://maps.app.goo.gl/CoMc1wfP6cwJQHXK9" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">pin_drop</span> Open in Google Maps</a><br>
			</div>
			<div class="columns small-12 medium-6 large-4 space-25 space-100-bottom">
				<div class="h5 text-neutral-4 block space-50-bottom">Phone</div>
				<a class="text-violet p inline space-50-bottom" href="tel:+91 8041510310" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">headset_mic</span> +91 8041510310</a><br>
				<a class="text-violet p inline space-50-bottom" href="tel:+91 9886466930" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">headset_mic</span> +91 9886466930</a><br>
			</div>
			<div class="columns small-12 medium-6 large-4 space-25 space-100-bottom">
				<div class="h5 text-neutral-4 block space-50-bottom">Email</div>
				<a class="text-violet p inline space-50-bottom" href="mailto:design-consult@greyscale.in" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">inbox</span> design-consult@greyscale.in</a><br>
				<a class="text-violet p inline space-50-bottom" href="mailto:info@greyscale.in" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">inbox</span> info@greyscale.in</a><br>
				<a class="text-violet p inline space-50-bottom" href="mailto:withus@greyscale.in" target="_blank"><span class="material-symbols-rounded inline-bottom" style="font-size: var(--h5);">inbox</span> withus@greyscale.in</a><br>
			</div>
		</div>
	</div>
</section>
<!-- END: Footer Menu Section -->





<!-- Copyright Section -->
<style>
	.copyright-section { text-align: center; }
	@media( min-width: 1040px ) {
		.copyright-section { text-align: left; }
		.copyright-section .signature { text-align: left; }
	}
</style>
<section class="copyright-section space-50-top-bottom fill-dark-gradient" id="copyright-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12 large-8 space-25">
				<div class="p font-h strong">Copyright <span class="h6 inline-middle">&copy;</span> 2025 – WINDSOR SOUZA PVT LTD | All Rights Reserved</div>
			</div>
			<!-- <div class="signature columns small-12 large-4 space-25">
				<a href="https://windsorsouza.com?utm_source=client+website" target="_blank" class="p block font-h">Handcrafted with <span class="h6 inline-middle" style="color: darkorange;">&heartsuit;</span> at — <span style="color: darkorange;">WindsorSouza.com</span></a>
			</div> -->
		</div>
	</div>
</section>
<!-- END: Copyright Section -->
