<!-- Header Section -->
<section id="header-section" class="hidden header-section fill-white box-shadow-violet position-relative" style="z-index: 2;">
	<div class="container">
		<div class="row">
			<div class="columns small-11 medium-5 large-4 inline-middle">
				<a class="logo block space-100-top-bottom space-50-right" href="/">
					<img class="block no-pointer" src="/media/logo-color.svg" alt="WindsorSouza Logo">
				</a>
			</div>
			<div class="menu columns small-12 medium-7 large-8 inline-middle text-right hide-small text-violet">
				<a class="link label text-uppercase strong inline" href="/">Stories</a>
				<a class="link label text-uppercase strong inline" href="/about">About</a>
				<a class="link label text-uppercase strong inline" href="/for-homeowner">Homeowner</a>
				<a class="link label text-uppercase strong inline" href="/for-business">Business</a>
				<a class="link label text-uppercase strong inline" href="/for-student">Student</a>
			</div>
		</div>
	</div>
</section>
<!-- END: Header Section -->
