<style>
	:root {
/*		--fluid-box-width: calc(var(--view-width) - var(--space-250));*/
/*		--fluid-box-height: calc(var(--view-height) - var(--space-250));*/
/*		--fem: calc((var(--fluid-box-width) * 1) / 100);*/
		--fem: calc((var(--view-width) * 1) / 100);
	}
	@media( min-width: 640px )  {
		:root {
/*			--fem: calc((var(--fluid-box-width) * 0.75) / 100);*/
			--fem: calc((var(--view-width) * 0.75) / 100);
		}
	}
	@media( min-width: 1040px ) {
		:root {
/*			--fem: calc((var(--fluid-box-width) * 0.5) / 100);*/
			--fem: calc((var(--view-width) * 0.5) / 100);
		}
	}
	@media( min-width: 1480px ) {}

	.project-row {
		position: relative;
		z-index: 2;
		padding: var(--space-100);
		margin-bottom: var(--space-250);
	}

	.project {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
/*		min-height: var(--fluid-box-height);*/
		height: calc((var(--view-width) * 1.666) - var(--space-200));
		align-item: flex-start;
		box-shadow: inset 0 0 0 1.5px rgba(var(---white), 0.25), inset 0 0 15px 1px rgba(var(---black),0.5);
	}
	.project .info {
		width: 100%;
	}
	.project .info .client {
		font-size: calc(var(--fem) * 2.75);
		padding-bottom: calc(var(--fem) * 1.5);
	}
	.project .info .title {
		font-size: calc(var(--fem) * 6.25);
	}
	.project .info .tags {
		padding-top: calc(var(--fem) * 3);
		font-size: 0;
	}

	.project.text-black .info .tag {
		color: var(--white);
		background-color: var(--black);
	}
	.project.text-white .info .tag {
		color: var(--black);
		background-color: var(--white);
	}
	.project .info .tags .tag {
		line-height: 2;
		font-size: calc(var(--fem) * 2.75);
		padding: 0 calc(var(--fem) * 2);
		padding-top: calc(var(--fem) * 0.75);
		margin-right: calc(var(--fem) * 1.5);
		margin-bottom: calc(var(--fem) * 1.5);
		border-radius: calc(var(--fem) * 1);
		cursor: pointer;
	}

	.project .info .tags .tag:hover { filter: invert(100%); }

	.project .info .cta {
		line-height: 2;
		font-size: calc(var(--fem) * 3.5);
		position: absolute;
		margin-top: calc(var(--fem) * 3.5);
	}
	
	.project .mockup {
		width: 100%;
		align-self: flex-end;
	}

	@media( min-width: 640px )  {
		.project {
			height: calc((var(--view-width) * 1.25) - var(--space-200));
		}
		.project .info {
			width: 75%;
		}
		.project .mockup {
			width: 75%;
		}
	}
	@media( min-width: 1040px ) {
		.project {
			display: flex;
			flex-direction: row;
			height: calc((var(--view-width) * 0.5) - var(--space-200));
		}
		.project .info {
			margin-top: calc(var(--space-100) * 3);
			width: 50%;
		}
		.project .mockup {
			width: 47%;
		}
	}
	@media( min-width: 1480px ) {}

	.project-row:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		border-radius: var(--space-150);
		top: var(--space-50);
		left: var(--space-50);
		right: var(--space-50);
		bottom: var(--space-50);
		background-color: rgba(var(---blue-light), 0.333);
		filter: blur(150px);
	}

	.project-row:nth-child(2n+1):before {
		background-color: rgba(var(---violet-light), 0.333);
	}

	.project-row:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		border-radius: var(--space-150);
		top: var(--space-50);
		left: var(--space-50);
		right: var(--space-50);
		bottom: var(--space-50);
		background-color: rgba(var(---violet-dark-dark), 0.333);
		box-shadow: 0 0 0 1.5px rgba(var(---violet), 0.5), inset 0 0 3px 0px var(--dark);
	}

</style>
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/kaatikaadu-bg.png');">
		<div class="info space-150 float-left">
			<div class="client">KaatiKaadu</div>
			<div class="title strong font-h">Logo &amp; Website for Jungle Camping Experience Brand</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">Merchandise</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/kaatikaadu-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-black fill-white radius-100 img-cover" style="background-image: url('media/projects/kneetoes-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Kneetoes</div>
			<div class="title strong font-h">UX Driven Ecommerce and Branding for a Footwear Company</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">Ecommerce</div>
				<div class="tag inline">SEO</div>
				<div class="tag inline">Brand Identity</div>
				<div class="tag inline">Package Design</div>
				<div class="tag inline">Brand Collateral</div>
				<div class="tag inline">Store Branding</div>
				<div class="tag inline">Signage</div>
				<div class="tag inline">Walkthrough Film</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/kneetoes-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/velvesto-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Velvesto</div>
			<div class="title strong font-h">Inception of a Brand: Automotive Detailing Products</div>
			<div class="tags">
				<div class="tag inline">Brand Naming</div>
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Brand Identity</div>
				<div class="tag inline">Package Design</div>
				<div class="tag inline">Merchandise</div>
				<div class="tag inline">Product Display</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/velvesto-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-black radius-100 img-cover" style="background-image: url('media/projects/bgc-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Bharat Glass &amp; Crockeries</div>
			<div class="title strong font-h">B2B Digital Transformation & Branding</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">SEO</div>
				<div class="tag inline">Brand Identity</div>
				<div class="tag inline">Brand Collateral</div>
				<div class="tag inline">Corporate Film</div>
				<div class="tag inline">Signage</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/bgc-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/ecoline-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Ecoline Clothing</div>
			<div class="title strong font-h">Brand Positioning: From Plastic Waste to Sustainable Apparel</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Brand Identity</div>
				<div class="tag inline">Brand Positioning</div>
				<div class="tag inline">Package Design</div>
				<div class="tag inline">Merchandise</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/ecoline-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-black radius-100 img-cover" style="background-image: url('media/projects/dairy-house-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Dairy House</div>
			<div class="title strong font-h">Illustrations and Packaging Design for an Ice Cream Brand</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Brand Identity</div>
				<div class="tag inline">Package Design</div>
				<div class="tag inline">Brand Collateral</div>
				<div class="tag inline">Product Display</div>
				<div class="tag inline">Store Branding</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/dairy-house-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/easeglobal-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Easeglobal</div>
			<div class="title strong font-h">Lead Capture for Global Immigration & Business Registration</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">SEO</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/easeglobal-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-black radius-100 img-cover" style="background-image: url('media/projects/bursar-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Bursar</div>
			<div class="title strong font-h">Study Now Pay Later: Easy Education Loans with PWA solutions</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">UX Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">API Integration</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/bursar-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/slipstream-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">SlipStream Performance</div>
			<div class="title strong font-h">Study Now Pay Later: Easy Education Loans with PWA solutions</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">UX Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">API Integration</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/slipstream-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-black radius-100 img-cover" style="background-image: url('media/projects/umber-bg.png');">
		<div class="info space-150 float-left">
			<div class="client">Umber Infusion</div>
			<div class="title strong font-h">Study Now Pay Later: Easy Education Loans with PWA solutions</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">UX Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">API Integration</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/umber-mockup.svg" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->
<!-- Each Project -->
<div class="row project-row">
	<div class="project text-white radius-100 img-cover" style="background-image: url('media/projects/fishandflow-bg.svg');">
		<div class="info space-150 float-left">
			<div class="client">Fish&amp;Flow</div>
			<div class="title strong font-h">Study Now Pay Later: Easy Education Loans with PWA solutions</div>
			<div class="tags">
				<div class="tag inline">Logo Design</div>
				<div class="tag inline">UX Design</div>
				<div class="tag inline">Website</div>
				<div class="tag inline">API Integration</div>
				<div class="tag inline">Brand Collateral</div>
			</div>
			<a class="cta inline" href="/">
				<span>Learn More <span class="material-symbols-rounded inline-top" style="font-size: calc(var(--fem) * 5); line-height: 1.275;">arrow_right_alt</span></span>
			</a>
		</div>
		<div class="mockup space-150 float-right">
			<img class="block" src="media/projects/fishandflow-mockup.png" alt="">
		</div>
	</div>
</div>
<!-- End: Each Project -->